<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<!--<class name="com.common.FlipkartLogin">
				<methods>
					<include name="searchItemForMobiles"></include>
				</methods>
			</class>-->
			<!--<class name="com.common.LoadTimeCapture">
				<methods>
					<include name="capturePageLoadTime"></include>
				</methods>
			</class>-->
			<class name="com.common.MercedesBenz">
				<methods>
					<include name="openURL"></include>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
